.dashboard {
   display: grid;
   grid-template-columns: 10rem 1fr;
   grid-template-rows: 75px 1fr 0px;
   grid-template-areas: "sidenav body";
   height: 99vh;
   margin: 0.1rem;

   &_sidebar {
    
   }
}

