.dashboard {
   display: grid;
   grid-template-columns: 10rem 1fr;
   grid-template-rows: 75px 1fr 0px;
   grid-template-areas: "sidenav body";
   height: 99vh;
   margin: 0.1rem;
   overflow: hidden;

   @media only screen and (max-width: calc(670/16 *1em)) {
      grid-template-areas: "body";
      grid-template-columns: 1fr;
      height: 100vh;
      margin: 0px;
   }

   &_sidebar {
      grid-area: sidenav;
      @media only screen and (max-width: calc(670/16 *1em)) {
         display: none;
      }
   }

   &_body {
      grid-area: body;
   }

   &_header {
      height: 5rem;
      border-bottom: 1px solid;
   }
   &_content {
      height: 88.5vh;
      overflow-x: auto;
   }
}
.portfolio {
   &-header {
      height: inherit;
      padding: 2rem;
   }
   &-icon {
      height: 3rem;
      width: 3rem;
      fill: rgb(65, 65, 65);
   }
   &_box {
      padding: 2rem 5rem;
      border-radius: 10px;
      background-color: var(--color-white);
      border: 1px solid var(--color-primary-blue);
      border-bottom: 15px solid rgbavar(--color-primary-blue-1);

      & > h3 {
         font-size: 2rem;
         font-weight: 600;
         margin-bottom: 3rem;
      }

      & > p {
         text-transform: capitalize;
         font-size: 1.2rem;
         font-weight: 600;
      }
   }
   &-cards {
      margin: 1rem;
      @media only screen and (max-width: calc(920/16 *1em)) {
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      }
   }
}
